@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    width:100vw;
    height: 100vh;
}
p {
    color: black;
}
a, a:visited {
    text-decoration: none;
    color: rgb(183, 183, 183); 
} 
a:hover, .backhome:hover {
    color: white;
    font-weight: bold;
    cursor: pointer;
}
a:active {
    color:rgb(21, 89, 178);
}
.content { 
    padding: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

/* index */
.homebody {
    box-shadow: inset 0px -140px 100px -100px  rgb(20, 20, 20);
    height: 100vh;
}
.homebody-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.name h1 {
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 0vh;
}
.about-summary {
    display: flex;
    flex-direction: row;
}
.about-summary p {
    margin: 2vw;
    text-align: center;
    font-variant: small-caps;
}
#home-content button {
    margin-top: 10vh;
    padding: 1vh;
    background-color: transparent;
    border: 2px solid rgba(183, 183, 183);
    font-variant: small-caps;
    border-radius: 1rem;
}
#home-content button:hover {
    border: 2px solid rgb(21, 89, 178);
    cursor: pointer;
}
#home-content button:hover > a {
    color: rgb(21, 89, 178);
}
#home-content button:active, button:visited {
    border: 2px solid rgb(21, 89, 178);
}
#home-content button:active > a {
    color: rgb(21, 89, 178);
}

/* nav & footer */
.navbar, .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    box-shadow: 0px 0px 100px 0px rgb(145, 145, 145);
}
.footer {
    padding: 1vh;
    font-variant: small-caps; 
    bottom: 0;
}
.navcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navlinks a {
    color: rgb(182, 182, 182);  
    text-transform: uppercase;
    padding: 0 1.2vh;
    margin: 0 1vh;
}
.navlinks, .footer, #indexfooter, a:hover {
    color: white;
}
.navlinks a:active {
    color:rgb(21, 89, 178);
}
.navname {
    margin: 1vh;
    color: rgb(182, 182, 182); 
}
.nav-active {
    border-bottom: 3px solid rgb(21, 89, 178);
    font-weight: 800;
    color: white;
}
#index1footer, .navbar-index {
    position: fixed;
    width: 100%;
}
#index1footer {
    position: fixed;
    bottom: 0;
}
#copyright {
    margin: 0;
    color: rgb(201, 201, 201);
}

/* CV page */
.cv-nav {
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0)), url("static/images/cv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.cv-footer {
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)), url("static/images/cv.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.cv-content { 
    display: block;
}
.cv-columns {
    display: flex
}
.cv-col1 {
    border-style: dashed;
    float: left;
    width: 70%;
    padding-right: 5%;
}
.cv-col2 {
    border-style: dotted;
    float: right;
    width: 30%;
}


.experience-company-name {
    color:rgb(21, 89, 178);
}
.experience-company-name h3 {
    margin-bottom: 0;
}
.experience-company-name h4 {
    color:rgb(180, 180, 180);
    margin-top: 0;
    font-style: italic;
}
.experience-points {
    margin-left: 2em;
}
.upper {
    text-transform: uppercase;
}

/*projects*/
/* keep width of projects page the same when content is shown */
.contentbody {
    width: 100vw;
}
.project-nav {
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0)), url("static/images/project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.project-footer {
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)), url("static/images/project.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
:root {
	--light: #ffe6e6;
	--dark: rgba(0,0,0,0.5);
}
.container {
	padding: 3rem 3rem;
    margin: 3rem;
	height: 50vh;
    width: 85vw;
}
.category_container {
	--gap: 0.5rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: calc(var(--gap) * 2);
	width: 100%; /* needed? */
	height: 100%;
}
.project-content {
	--active: 0;
	cursor: pointer;
	overflow: clip;
	position: relative;
	z-index: 10;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1.5rem;
	padding: 2.5rem;
	width: calc((100% / 3) - var(--gap));
	height: 100%;
	border-radius: 1rem;
	transition: width 0.5s ease-in-out;
}
.project-content:hover {
	--active: 1;
	width: calc(70% - var(--gap));
    background-color: var(--light);
}
.project-content::before {
	content: "";
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: var(--dark);
	opacity: 0.6;
}
.project-content img {
	position: absolute;
	z-index: -20;
	top: 0;
	left: 0; 
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}
.project-content .profile_image {
	opacity: calc(1 - var(--active));

	transition: opacity 0.3s ease-in-out;
}
.profile_detail {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	width: 12rem;
	transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}
.profile_detail span {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--light);
	text-wrap: nowrap;
}
.profile_detail p {
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--light);
}
.profile_quote {
	width: 22rem;
	transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));
}
.profile_quote p {
	font-size: 1rem;
	color: var(--light);
	transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));
	transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.1s;
}
.h4-project-title {
    margin-bottom: 0;
    color: rgb(183, 183, 183);
}
.h4-project-title:hover {
    color: white
}
.pseudo {
    width: 20vw;
}
.eer-diagram {
    width: 50vw;
    height: auto;
     /* FIX */
}

/*blog*/ 
.blog-nav {
    background-image: linear-gradient(rgba(0, 0, 0,0.5), rgba(0, 0, 0)), url("static/images/newspaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
} 
.blog-footer {
    background-image: linear-gradient(rgba(0, 0, 0), rgba(0, 0, 0, 0.5)), url("static/images/newspaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.blogpost-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    margin: 0 auto;
}
.blogpost-box {
    background-color: rgb(151, 196, 255);
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
}
/* https://codepen.io/yunusemredilber/pen/PrdZpp */

.blogpost-pic {
    border-radius: 12px;
    /*filter: grayscale(100%);  remove? 
    -webkit-filter: grayscale(100%);*/
}
.blogpost-box:hover {
    background-color: rgb(227, 239, 255);
    box-shadow: 10px 5px 5px rgb(0,0,0,0.6);
    /* filter: none;
    filter: grayscale(0);
    -webkit-filter: grayscale(0);*/
}
.blogpost-title {
    font-size: 20px;
    font-weight: 900;
    line-height: 1.2;
    margin: 10px 0;
}
.blogpost-subtitle {
    color: #a10f45;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 24px;
}
.read-button {
    background-color:rgb(21, 89, 178);
    color: white;
    border: none;
    padding: 12px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    bottom: 0;
}
.read-button:hover, .blogpost-back:hover {
    background-color: rgb(11, 66, 138);
}
.blog-backbutton, .project-backbutton{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

/* blog post 1 - 100 days of code */
.code-image {
    height: 30vh;
    width: auto;
    border-radius: 1rem;
}

/* blog post 2 - coding soc slideshow */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}
/* Hide the images by default */
.mySlides {
    display: none;
}
.codingsoc-img {
    border-radius: 1rem;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
/* Add background to arrows on hover */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.7);
}
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.qmcs-year2-img {
    height: 30vh;
    border-radius: 1rem;
}












/* blog post 3 - LSEG */

/* blog post 4 - maths and art */

/* tooltip code (experience page)*/
.contendor form {
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 2vh;
    top: 0;
}
.form-op {
    margin: 1.5vh;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0,0,0,0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tt1:hover .ex1-tt1 {
    visibility: visible;
}
.tt2:hover .ex2-tt2 {
    visibility: visible;
}
.tt3:hover .ex3-tt3 {
    visibility: visible;
} /* tooltip code ends here*/


/*creative*/ /*
#creative-navbar {
    visibility: hidden;
}
#creative-home {
    visibility: visible;
}
#projects-content{
    height: auto;
}*/