@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
    width:100vw;
    height: 100vh;
}
p {
    color: black;
}
a, a:visited {
    text-decoration: none;
    color: rgb(183, 183, 183); 
} 
a:hover/*, .backhome:hover*/ {
    text-decoration: none;
    /*color: rgb(0, 0, 0); */
    font-weight: bold;
    cursor: pointer;
}
.backhome:hover {
    color: white;
}
a:active {
    color: blue;
}
.content { 
    padding: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}*/

/* index */
.homebody {
    box-shadow: inset 0px -140px 100px -100px  rgb(20, 20, 20);
    height: 100vh;
}
.homebody-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.name h1 {
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 0vh;
}
.about-summary {
    display: flex;
    flex-direction: row;
}
.about-summary p {
    margin: 2vw;
    text-align: center;
    font-variant: small-caps;
}
#home-content button {
    margin-top: 10vh;
    padding: 1vh;
    background-color: transparent;
    border: 2px solid rgba(183, 183, 183);
    font-variant: small-caps;
}
#home-content button:hover {
    border: 2px solid white;
    cursor: pointer;
}
#home-content button:hover > a {
    color: white;
}
#home-content button:active, button:visited {
    border: 2px solid blue;
}
#home-content button:active > a {
    color: blue;
}

/* nav & footer */
.navbar, .footer, #indexfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(49, 49, 49);   */
    background-color: black;
    box-shadow: 0px 0px 100px 0px rgb(145, 145, 145);
}
.footer, #indexfooter {
    padding: 1vh;
    font-variant: small-caps; 
}
.navcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navlinks a {
    text-decoration: none;
    color: rgb(182, 182, 182);  
    text-transform: uppercase;
    padding: 0 1.2vh;
    margin: 0 1vh;
}
.navlinks, .footer, #indexfooter, a:hover {
    color: white;
}
.navlinks a:active {
    color: blue;
}
.navname {
    margin: 1vh;
    color: rgb(182, 182, 182); 
}
.nav-active {
    border-bottom: 3px solid blue;
}
#index1footer, .navbar-index, .experiencefooter {
    position: fixed;
    width: 100%;
}
#index1footer, .experiencefooter {
    position: fixed;
    bottom: 0;
}
#copyright {
    margin: 0;
    color: rgb(145, 145, 145);
}
 
/* keep width of experience & projects page the same when content is shown */
.contentbody {
    width: 100vw;
}

/* experience */
.contendor form {
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 2vh;
    top: 0;
}
.form-op {
    margin: 1.5vh;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0,0,0,0.6);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tt1:hover .ex1-tt1 {
    visibility: visible;
}
.tt2:hover .ex2-tt2 {
    visibility: visible;
}
.tt3:hover .ex3-tt3 {
    visibility: visible;
}

/*FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! */
/* 100 days of code */
.resize-img {
    height: 30vh;
    width: auto;
}
img {
    height: auto;
    width: auto;
}
.daysofcode img {
    margin: 1vh;
}
.daysofcode p {
    margin: 0;
}
.daysofcode a {
    text-decoration: none;
    color: rgb(182, 182, 182);  
}
.daysofcode a:hover {
    color: orange;
}
.twitter-img {
    height: 40vh;
    width: 60vh;
    float: right;
}
.google-img, .microsoft-img {
    height: 60vh;
    width: 45vh;
}


/*projects*/
:root {
	--light: #ffe6e6;
	--dark: rgba(0,0,0,1);
}
.container {
	padding: 3rem 3rem;
    margin: 3rem;
	height: 50vh;
    width: 85vw;
}
.category_container {
	--gap: 0.5rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: nowrap;
	gap: calc(var(--gap) * 2);

	width: 100%; /* needed? */
	height: 100%;
}
.project-content {
	--active: 0;

	cursor: pointer;
	overflow: clip;

	position: relative;
	z-index: 10;

	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 1.5rem;

	padding: 2.5rem;

	width: calc((100% / 3) - var(--gap));
	height: 100%;

	border-radius: 1rem;

	transition: width 0.5s ease-in-out;
}
.project-content:hover {
	--active: 1;

	width: calc(70% - var(--gap));
}
.project-content::before {
	content: "";

	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;

	width: 100%;
	height: 100%;
	background-color: var(--dark);

	opacity: 0.6;
}
.project-content img {
	position: absolute;
	z-index: -20;
	top: 0;
	left: 0; 

	width: 100%;
	height: 100%;

	object-fit: cover;
	object-position: center;
}

.project-content .profile_image {
	opacity: calc(1 - var(--active));

	transition: opacity 0.3s ease-in-out;
}

.profile_detail {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	width: 12rem;
	transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

.profile_detail span {
	font-size: 1.5rem;
	font-weight: 600;
	color: var(--light);
	text-wrap: nowrap;
}

.profile_detail p {
	font-size: 0.75rem;
	font-weight: 500;
	color: var(--light);
}

.profile_quote {
	width: 22rem;
	transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));
}

.profile_quote p {
	font-size: 1rem;
	color: var(--light);

	transform: translate(0, calc((1 - var(--active)) * (100% + 2.5rem)));

	transition: transform 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.1s;
}









//
//	create an 'accordion' wrapper for the quote text 
//	1 set initial height to zero fr  
//	2 add overflow hidden to hide quote text 
//	3 add transtion for grid-template-rows
// 
.wrapper {
	display: grid;
  	grid-template-rows: 0fr;
  	overflow: hidden;
	transition: grid-template-rows 0.5s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s;
}

//
//  add min-height 0 on the quote text to override the 
// 	default max-content of fr - add a bit of individual
//. animation for the quote (to not follow detail)
// */
.profile_quote { 
	min-height: 0; 
	transform: translateY(50%);
	opacity: 0;
	transition: 
		opacity 0.8s ease-in-out,
		transform 0.8s cubic-bezier(0.23, 0.93, 0.77, 1) 0.01s
	;	
}


// 	expand (animated) wrapper row height to 1 fr
//	(this will animate detail up when making room for quote)
.project-content:hover .wrapper {
  	grid-template-rows: 1fr;
}

// remove translate to male quote slide in 
.project-content:hover .profile_quote {
	transform: none;
	opacity: 1;	
}







// credit note
dialog { position: absolute; z-index: 1; background: none; color: white; border: 0; font-size: .8rem; padding:.5em;}
dialog a { color: whitesmoke; }

*/










/*blog*/ /*
#thoughts-content {
    flex-direction: column-reverse;
}
.thoughtsrow {
    display: flex;
    flex-direction: row-reverse;
}
.col {
    padding: 1vh;
    margin: 1vh;
    border: blue 3px solid;
    height: 15vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col:hover {
    cursor: pointer;
}
.back-button {
    position: fixed;
    top: 15vh;
    left: 3vh;
}


/*creative*/ /*
#creative-navbar {
    visibility: hidden;
}
#creative-home {
    visibility: visible;
}
#projects-content{
    height: auto;
}