@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
}
p {
    color: black;
}
a, a:visited {
    text-decoration: none;
    color: rgb(183, 183, 183); 
} 
a:hover, .backhome:hover {
    text-decoration: none;
    color: rgb(0, 0, 0); 
    font-weight: bold;
    cursor: pointer;
}
.backhome:hover {
    color: white;
}
a:active {
    color: blue;
}
.content { 
    padding: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}*/

/* index */
.homebody {
    box-shadow: inset 0px -140px 100px -100px  rgb(20, 20, 20);
    height: 100vh;
}
.homebody-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.name h1 {
    font-size: 12vw;
    margin-top: 0;
    margin-bottom: 0vh;
}
.about-summary {
    display: flex;
    flex-direction: row;
}
.about-summary p {
    margin: 2vw;
    text-align: center;
    font-variant: small-caps;
}
#home-content button {
    margin-top: 10vh;
    padding: 1vh;
    background-color: transparent;
    border: 2px solid rgba(183, 183, 183);
    font-variant: small-caps;
}
#home-content button:hover {
    border: 2px solid white;
    cursor: pointer;
}
#home-content button:hover > a {
    color: white;
}
#home-content button:active, button:visited {
    border: 2px solid blue;
}
#home-content button:active > a {
    color: blue;
}

/* nav & footer */
.navbar, .footer, #indexfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: rgb(49, 49, 49);   */
    background-color: black;
    box-shadow: 0px 0px 100px 0px rgb(145, 145, 145);
}
.footer, #indexfooter {
    padding: 1vh;
    font-variant: small-caps; 
}
.navcontent {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navlinks a {
    text-decoration: none;
    color: rgb(182, 182, 182);  
    text-transform: uppercase;
    padding: 0 1.2vh;
    margin: 0 1vh;
}
.navlinks a:hover {
    color: white;
}
.navlinks a:active {
    color: blue;
}
.navname {
    margin: 1vh;
}
.nav-active {
    border-bottom: 3px solid blue;
}
#index1footer, .navbar-index, .experiencefooter {
    position: fixed;
    width: 100%;
}
#index1footer, .experiencefooter {
    position: fixed;
    bottom: 0;
}
#copyright {
    margin: 0;
    color: rgb(145, 145, 145);
}
 

/*FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! FIX! */
/* experience */
.contendor form{
    box-sizing: border-box;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: fixed;
    height: 100%;
    justify-content: center;
    left: 3vh;
    top: 0;
}
.form-op {
    margin: 1.5vh;
}
.tooltip {
    position: relative;
    display: inline-block;
}
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(0,0,0,0.5);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}
.tt1:hover .ex1-tt1 {
    visibility: visible;
}
.tt2:hover .ex2-tt2 {
    visibility: visible;
}
.tt3:hover .ex3-tt3 {
    visibility: visible;
}
 

/* ? */
.container {
    margin: 2vh 0 0 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.container h3, .container h6 {
    margin: 1vh;
    color: rgb(182, 182, 182);
}
.container h3:hover {
    color: blue;
    cursor: pointer;
} 
.container h6 {
    margin: 0 1vh;
}

.experience-here {
    background-color: red;
}






/*CHECK
img {
    height: 30vh;
    width: 20vh;
}*/

img {
    height: auto;
    width: auto;
}

.daysofcode img {
    margin: 1vh;
}

.daysofcode p {
    margin: 0;
}

.daysofcode a {
    text-decoration: none;
    color: rgb(182, 182, 182);  
}

.daysofcode a:hover {
    color: orange;
}

.twitter-img {
    height: 40vh;
    width: 60vh;
    float: right;
}

.google-img, .microsoft-img {
    height: 60vh;
    width: 45vh;
}








/*projects*/
#project-summary {
    padding: 10vh;
    padding-bottom: 0;
    margin: 0;
}
#projects-content {
    flex-direction: row;
    align-items: inherit;
}

#projects-content h2 {
    margin: 0;
    color: blue;
}



#projects-content h6 {
    margin-top: 0;
}

.projects-name {
    padding-right: 20px;
    flex-basis: 25%;
    border-right: blue solid 3px;
    color: rgb(182, 182, 182); 
}

.projects-name p {
    color: rgb(182, 182, 182); 
}

.projects-info {
    padding-left: 40px; 
    flex-basis: 75%;
}

.a-project { 
    height: 23.6vh;
    margin: 3vh 0 6vh 0;
    border: rgb(255, 77, 107) 3px solid;
    display: inline-block;
}

.a-project ul {
    margin-top: 0;
}

.a-project p {
    margin-bottom: 0;
}

.a-project ul > li {
    list-style: none;
    text-indent: -15px;
}

.a-project ul > li:before {
    content: "- ";
    text-indent: -5px;
}




/*blog*/
#thoughts-content {
    flex-direction: column-reverse;
}

.thoughtsrow {
    display: flex;
    flex-direction: row-reverse;
}

.col {
    padding: 1vh;
    margin: 1vh;
    border: blue 3px solid;
    height: 15vh;
    width: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.col:hover {
    cursor: pointer;
}

.back-button {
    position: fixed;
    top: 15vh;
    left: 3vh;
}



/*creative*/
#creative-navbar {
    visibility: hidden;
}

#creative-home {
    visibility: visible;
}

#projects-content{
    height: auto;
}
